:root {
    --background-color: #ffffff;
    --background-color-footer: #274291;
    --background-color-circle: #f4f7f9;
    --font: 'Roboto', sans-serif;
    --font-color: #2f2f2f;
    --font-color-light: #80868c;
    --font-color-secondary: #bfc2c5;
    --font-color-white: #ffffff;
    --font-color-footer: #3295d1;
    --font-form-color: #d5d7d9;
    --button-color: #35a8e0;
    --border-color: #dae0e5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    // background: var(--background);
    color: var(--font-color);
    font-family: var(--font);
}