header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 66px;
    text-align: center;
    background: var(--background-color);

    h1 {
        font-size: 36px;
        padding-bottom: 32px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        padding-bottom: 59px;
        color: var(--font-color-light);
    }
}