main {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 198px;
    padding-bottom: 300px;

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        color: var(--font-color-white);
        font-size: 16px;
    }

    .ring {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 600px;
        border: 1px solid;
        border-color: var(--border-color);
        border-radius: 50%;
    }

      .gear {
          position: relative;
      }

      .circle {
          position: absolute;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 3px solid;
          border-color: var(--border-color);
          text-align: center;
          line-height: 100px;
          background: var(--background-color-circle);
        }
}



  // .circle {
  //     display: flex;
  //     flex-direction: column;
  //     background-color: red;

  // }

// .div1 {
//     background-image: url(img/icons/pic1.png);
//     width: 80px;
//     height: 80px;
//   }


//   .div2 {
//     background-image: url(img/icons/pic2.png);

//   }

//   .div3 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div4 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div5 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div6 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div7 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div8 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div9 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div10 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div11 {
//     background-image: url(img/icons/pic1.png);

//   }

//   .div12 {
//     background-image: url(img/icons/pic1.png);
//     background-position: center;
//   }
